body{
  display: flex;
  background-color: hsl(30, 54%, 90%);
  justify-content: center;
  height: 2000px;
  
}
div{
  width: 400px;
}
.img{
  width: 400px;
  border-radius: 10px;
}
.container{
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
 height: fit-content;
  
  
}
.recipe-name{
  margin-top: 10px;
  font-family: Young Serif;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 0;
  position: relative;
}
.recipe-description{
  font-size: 14px;
  width: 400px;
  color: rgb(122, 122, 122);
  line-height: 2;
}
.prep-time-container{
  background-color: hsl(330, 100%, 98%);
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}
.prep-time-heading{
   padding-left: 15px;
   margin-bottom: 0;
   font-family: Outfit;
   font-weight: bold;
   color: purple;
   font-size: 20px;
   padding-top: 0px;
}
.prep-time-list{
  color: rgb(92, 90, 90);
  font-family: Outfit;
  line-height: 35px;
}
.prep-time-list li::marker{
  color: purple;
}
.prep-time-list b{
  color: black;
}
.ingredients-head,
.instructions-head,
.nutrition-head{
  font-family: Young Serif;
  color:hsl(14, 45%, 36%);
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 0;
  
}
.ingredients-list{
  font-family: Outfit;
  line-height: 35px;
  font-size: 15px;
  margin-top: 10px;
  color:rgb(92, 90, 90);
  padding-left: 17px;
}
.ingredients-list li::marker{
  color: hsl(14, 45%, 36%);
}
hr{
  margin-bottom: 30px;
  margin-top: 30px;
}
.instructions-list{
  width: 390px;
  font-size: 15px;
  font-family: Outfit;
  color: rgb(92, 90, 90);
  line-height: 25px;
  padding-left: 17px;
}
.instructions-list b{
  color: black;
}
.instructions-list li::marker{
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
.instructions-list li{
  margin-bottom: 8px;
}
.table-des{
  font-size: 15px;
  width: 400px;
  color: rgb(122, 122, 122);
  line-height: 2;
  font-family: Outfit;
}
table{
  width: 400px;
  font-family: Outfit;
  border-spacing: 20px;
  border: solid 2px;
  font-size: 17px;
  border-radius: 10px;
}
table td{
  color: rgb(92, 90, 90);
}
table th{
  color: hsl(14, 45%, 36%);
  font-weight: 800;
}